.wd-body{
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
    border: 1px solid rgb(110, 118, 125);
}

.wd-button-rounded-corner{
    border-radius: 25px;
}

.wd-rounded-corners{
    border-radius: 20px;
}

.wd-image-radius{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.wd-image{
    height:  400px;
    width: 100%;
    object-fit: cover;
}

.wd-image-post{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.wd-image-box {
    position: relative;
    text-align: center;
    color: white;
}

.wd-txtover {
    position:relative
}

.wd-txtover figcaption {
    position:absolute;
    bottom:0;
    left:0;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;

}

.wd-subject-title{
    font-size: 16px;
    max-width: 460px;
}

.wd-topic2 {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-post-image {
    height: 100px;
    width: 100px;
    border-radius: 10px 10px 10px 10px;
}

.wd-title{
    font-size: 15px;
}

.wd-image-block{
    padding-right: 16px;
    display: inline-block;
    float: left;
}

.wd-post{
    width: 95%;
}

.wd-time {
    font-size: 13px;
    color: rgb(110, 118, 125);
    display: inline;
}

.wd-count{
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-topic {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-align-cog{
    align-content: center;
}

.wd-align-profile-name{
    vertical-align: center;
}

.wd-pill-color{
    font-weight: bold;
    color: rgb(110, 118, 125)
}

.wd-pill-color:hover{
    color:white;
}


.wd-list-options{
    float: left;
    vertical-align: center;
    padding-right: 5px;
}


.nav-item:hover {
    border-bottom: 3px solid dodgerblue;
}

.form-control{
    border-color: transparent;
}

.form-control::placeholder {
    color: rgb(110, 118, 125);
}

.img-thumbnail{
    padding:0;
    border:0;
}